* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease 400ms;
    color: black;
}

.seccion {
    /* background: rgba(43, 170, 5, 0.965); */
    margin: 0px;
    padding: 24px;
    /* border: 1px solid black; */
    padding-right: 100px;

}

.seccion .lista {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

section ul li {
    list-style-type: none;
}

.menu-item {
    display: block;
    padding: 4px 24px;
    text-decoration: none;
    /* color: black; */
    cursor: pointer;
    border-right: 1px solid lightgray;
}

section ul li:last-of-type .menu-item {
    border-right: none
}

.menu-item:hover {
    background: gray;
}

.menu-button {
    cursor: pointer;
    padding: 4px 24px;
    border: none;
    background: none;
    margin: 0 8px;
    background-color: blue;
    color: white;
    border-radius: 4px;
}

.sectiontit {
    padding: 80px;
}

#title {
    font-size: 44px;
    text-align: center;
    color: black;
}

#hr {
    width: 25%;
    background-color: lightgray;
    margin: 0 auto;
}

.container{ 
    padding: 52px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.box {
    height: 124px;
    width: 174px;
    margin: 20px;
    border: 3px solid rgb(58, 54, 54);
    float: left;
    border-radius: 6px;
    background-image: url(../img/image.jpg);
    background-size: 180px 150px;
    background-repeat: no-repeat;
    background-position: center;
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button .button-final {
    background-color: rgb(11, 82, 11);
    padding: 16px 60px;
    border: none;
    font-size: 20px;
    border-radius: 4px;
    color: white;
}

.pie {
    /* background: #080620; */
    padding: 35px;
    color:black;
    text-align: center;
    border-top: 1px solid lightgray;
}