* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease 400ms;
}

.seccion {
    /* background: rgba(43, 170, 5, 0.965); */
    margin: 0px;
    padding: 24px;
    /* border: 1px solid black; */
    padding-right: 100px;

}

.seccion .lista {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

section ul li {
    list-style-type: none;
}

.menu-item {
    display: block;
    padding: 4px 24px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-right: 1px solid black;
}

section ul li:last-of-type .menu-item {
    border-right: none
}

.menu-item:hover {
    background: gray;
}

.menu-button {
    cursor: pointer;
    padding: 4px 24px;
    border: none;
    background: none;
    margin: 0 8px;
    background-color: blue;
    color: white;
    border-radius: 4px;
}